@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sono&display=swap");

/* Root Variables */
:root {
  --color-primary: #3a3845;
  --color-secondary: #fbf7f3;
  --color-background: #f6e6da;
  --color-white: #fff;
  --color-info-dark: #6a6873;
  --color-info-light: #dce1eb;
  --color-light: #faf0e9;
  --color-dark-variant: #4e4c59;
  --color-shadow: #decfc3;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.5rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 1rem 1rem #e5d6cb;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sono, san-serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-primary);
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 3rem;
  grid-template-columns: 15rem auto 15rem;
}

a {
  color: var(--color-primary);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-primary);
}

.primary {
  color: var(--color-primary);
}

/* ---------------------- Start of aside ---------------------- */
aside {
  height: 100vh;
  z-index: 4;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .logo img {
  width: 2rem;
  height: 2rem;
  margin-top: 0.3rem;
}

aside .logo h2 {
  font-family: pacifico, serif;
}

aside .close {
  display: none;
}
/* ---------------------- End of aside ---------------------- */

/* ---------------------- Start of sidebar ---------------------- */
aside .sidebar {
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}
/* ---------------------- End of sidebar ---------------------- */

/* ---------------------- Start of main ---------------------- */
main {
  margin-top: 1.4rem;
  position: relative;
}

main h1 {
  font-family: pacifico, serif;
}

main .date {
  display: inline-block;
  background: var(--color-secondary);
  border-radius: var(--border-radius-1);
  margin-top: 2.27rem;
  padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-primary);
}

main .new-btn {
  border-radius: var(--card-border-radius);
  width: 100%;
  height: 3rem;
  display: block;
  margin-top: 2rem;
  padding-top: 0.3rem;
  background: var(--color-info-dark);
  color: var(--color-background);
  cursor: pointer;
}

main .new-btn:hover {
  background: var(--color-primary);
}

main .add-note {
  background: var(--color-secondary);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .add-note:hover {
  box-shadow: none;
}

main .add-note .details {
  max-height: 10rem;
  overflow-y: auto;
}

main .add-note .details h3 {
  font-size: 1.3rem;
}

main .add-note .details p {
  margin: 1rem 0;
}

main .add-note .bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

main .add-note .bottom-content .note-settings span {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  color: var(--color-info-dark);
}

main .add-note .bottom-content .note-settings span:hover {
  color: var(--color-primary);
}

main .popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

main .popup-box .popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  border-radius: var(--border-radius-1);
  transform: translate(-50%, -50%);
  justify-content: center;
}

main .popup-box,
.popup-box .popup {
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

main .popup-box.show,
.popup-box.show .popup {
  opacity: 1;
  pointer-events: auto;
}

main .popup-box .popup .content {
  width: calc(100% - 15px);
  background: var(--color-secondary);
  border-radius: var(--border-radius-1);
}

main .popup-box .popup .content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .popup-box .popup .content header p {
  font-size: 1.3rem;
  font-weight: 500;
}

main .popup-box .popup .content header span {
  color: var(--color-info-dark);
  cursor: pointer;
  font-size: 1.4rem;
}

main .popup-box .popup .content header span:hover {
  color: var(--color-primary);
}

main .popup-box .popup .content form {
  margin: 1rem 1.5rem;
}

main .popup-box .popup .content form .row {
  margin-bottom: 1rem;
}

main .popup-box .popup .content form .row label {
  display: block;
  font-size: 1rem;
  margin: 0.7rem 0;
}

main .popup-box .popup .content form :where(input, textarea) {
  width: 100%;
  height: 3rem;
  outline: none;
  padding: 0 1rem;
  border: 1px solid var(--color-info-dark);
  border-radius: var(--border-radius-1);
  font-family: sono, sans-serif;
}

main .popup-box .popup .content form textarea {
  height: 8rem;
  resize: none;
  padding: 1rem;
}

main .popup-box .popup .content form button {
  width: 100%;
  height: 3rem;
  font-family: sono, sans-serif;
  font-size: 1rem;
  background: var(--color-info-dark);
  outline: none;
  border-radius: var(--border-radius-1);
  color: var(--color-light);
}

main .popup-box .popup .content form button:hover {
  background: var(--color-primary);
}
/* ---------------------- End of main ---------------------- */

/* ---------------------- Start of right top ---------------------- */
.right {
  margin-top: 1.4rem;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.right .top button {
  display: none;
}

.right .top .greet p {
  font-size: 1.2rem;
  font-family: pacifico, serif;
}
/* ---------------------- End of right top ---------------------- */

/* ---------------------- Start of right user ---------------------- */
.user {
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3.3rem;
}

.user .user-profile {
  display: flex;
}

.user .user-profile .user-photo {
  display: block;
  margin: 2rem auto 1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}

.user .user-profile .user-close {
  display: none;
  cursor: pointer;
}

.user .user-sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

.user .user-sidebar a span {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

.user .user-sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

.user .user-sidebar a:hover {
  color: var(--color-primary);
}

.user .user-sidebar a:hover span {
  margin-left: 1rem;
}
/* ---------------------- End of right user ---------------------- */

/* ---------------------- Start of right quote ---------------------- */
.quote-of-the-day {
  margin-top: 2.3rem;
  text-align: center;
}

.quote-of-the-day header {
  font-size: 1.2rem;
  font-family: pacifico, serif;
}

.quote-of-the-day .content {
  margin: 1rem 0;
}
.quote-of-the-day .quote {
  margin-bottom: 0.8rem;
}

.quote-of-the-day .quote-area span {
  font-size: 1.5rem;
}

.quote-of-the-day .buttons .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.3rem 1rem 0;
}

.quote-of-the-day .buttons .features ul {
  display: flex;
}

.quote-of-the-day .buttons .features ul li {
  margin: 0 0.3rem;
}

.quote-of-the-day .buttons .features ul span {
  font-size: 1.1rem;
  color: var(--color-info-dark);
  margin-top: 0.22rem;
}

.quote-of-the-day .buttons .features ul span:hover {
  color: var(--color-primary);
}

.quote-of-the-day .buttons .features .new-quote {
  background: var(--color-info-dark);
  padding: 0.4rem;
  border-radius: var(--border-radius-1);
  color: var(--color-light);
  font-size: 0.8rem;
}

.quote-of-the-day .buttons .features .new-quote:hover {
  background: var(--color-primary);
  color: var(--color-light);
}

.quote-of-the-day .buttons .features .new-quote.loading {
  opacity: 0.7;
  pointer-events: none;
}
/* ---------------------- End of right quote ---------------------- */

/* --------------- Start of media queries for lg tablet --------------- */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 14rem;
  }
  /* End of container */

  aside .logo h2 {
    display: none;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }
  /* End of aside */
}
/* --------------- End of media queries for lg tablet --------------- */

/* --------------- Start of media queries for sm tablet --------------- */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  /* End of container */

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-secondary);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-shadow);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  aside .logo {
    margin-left: 1rem;
  }

  aside .logo h2 {
    display: inline;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar {
    width: 100%;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.7rem;
  }

  aside .sidebar a:last-child {
    position: absolute;
    bottom: 3.3rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
  }
  /* End of aside */

  .user {
    position: fixed;
    right: -100%;
    top: 0;
    background: var(--color-secondary);
    width: 17rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-shadow);
    height: 100vh;
    padding: 0 1.5rem;
    display: none;
    animation: showUser 400ms ease forwards;
  }

  @keyframes showUser {
    to {
      right: 0;
    }
  }

  .user .user-profile .user-close {
    display: inline-block;
    background: transparent;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
  /* End of user */

  main {
    position: relative;
    padding: 0 2rem;
  }

  main .new-btn {
    margin-top: 2rem;
  }

  main .add-note {
    margin: 1rem 0 0 0;
    width: 100%;
  }
  /* End of main */

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background-color: var(--color-background);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 0.5rem 0.8rem var(--color-shadow);
  }

  .right .top .greet {
    display: none;
  }

  .right .top #menu-btn {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-primary);
    position: absolute;
    left: 1rem;
  }

  .right .top #menu-btn span {
    font-size: 2rem;
  }

  .right .top #user-btn {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-primary);
    position: absolute;
    right: 1rem;
    top: 1.3rem;
  }
  .right .top #user-btn span {
    font-size: 2rem;
  }
  /* End of right */
}
/* --------------- End of media queries for sm tablet --------------- */
